@import url('https://rsms.me/inter/inter.css');

:root {
	--transition-speed: 2s;

	--bg-top: hsl(200, 70%, 90%);
	--bg-bottom: hsl(210, 50%, 80%);
	--text-main: hsl(210, 30%, 25%);
}

body[data-weather*='rain'] {
	--bg-top: hsl(220, 30%, 75%);
	--bg-bottom: hsl(230, 20%, 55%);
	--text-main: hsl(230, 40%, 95%);
}

body[data-weather*='cloudy'] {
	--bg-top: hsl(200, 10%, 85%);
	--bg-bottom: hsl(210, 5%, 65%);
	--text-main: hsl(210, 20%, 20%);
}

body[data-weather*='clear'] {
	--bg-top: hsl(190, 80%, 85%);
	--bg-bottom: hsl(200, 70%, 75%);
	--text-main: hsl(200, 50%, 30%);
}

body[data-weather*='snow'] {
	--bg-top: hsl(190, 20%, 98%);
	--bg-bottom: hsl(200, 20%, 88%);
	--text-main: hsl(200, 20%, 40%);
}

body[data-weather*='fog'] {
	--bg-top: hsl(0, 0%, 90%);
	--bg-bottom: hsl(0, 0%, 75%);
	--text-main: hsl(0, 0%, 30%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Inter', sans-serif;
	@supports (font-variation-settings: normal) {
		font-family: 'Inter var', sans-serif;
	}
	background: linear-gradient(180deg, var(--bg-top), var(--bg-bottom));
	color: var(--text-main);
	transition: all var(--transition-speed) ease-in-out;
}

#content {
	background: var(--bg-top);
	backdrop-filter: blur(15px);
	border: 1px solid var(--bg-bottom);
	padding: 3rem;
	border-radius: 30px;
	box-shadow: 30px;
	text-align: center;
	width: 350px;
}

#searchForm {
	display: flex;
	gap: 10px;
	margin-bottom: 2rem;
}

#cityInput {
	background: transparent;
	border: none;
	border-bottom: 2px solid var(--text-main);
	color: var(--text-main);
	padding: 5px;
	outline: none;
	flex-grow: 1;
}

#weatherIcon {
	font-size: 5rem;
	margin: 1.5rem 0;
	display: block;
}
